<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title>Sign Up</title>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <div class="main-div">
      <h1>Create a new account!</h1>
      <% if (typeof msg !== 'undefined') { %>
          <p> <%= msg %> </p>
      <% } %>
      <form action="/auth/sign-up" method="POST" class="auth-forms">
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" name="confirmPassword" id="confirmPassword" required />
        </div>
        <button type="submit">Sign up</button>
      </form>
  </div>   
</body>
</html>