<nav>
    <% if (user) { %>
        <p>Hello, <%= user.username %></p>

        <a href="/user/<%= user.userId %>" class="nav-links">My Countries</a>
        <a href="/community" class="nav-links"> Community</a>
        <a href="/user/<%= user.userId %>/settings" class="nav-links">Settings</a>
        <a href="/auth/sign-out" class="nav-links"> Sign Out</a>

    <% } else { %>
        <p><a href="/" class="nav-links">Home</a></p>
    <% } %>
</nav>