@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* All pages */
body {
    background: radial-gradient(#d9eef1, #71bdca);
    font-family: 'Lato', sans-serif;
    background-image: url('https://i.imgur.com/NqVDENv.jpeg');
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 1100px;
    --main-colour: #304055;
    --second-colour: #2a834c;
    --third-colour: #fdfefd;
    color: var(--main-colour);
}

h1, h2, h3, h4, p, form {
    margin-left: 10px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 40px;
    color: var(--main-colour);
}

h2, h3 {
    color: var(--second-colour);
}

a, a:visited {
    color:var(--main-colour);
}

button {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--third-colour);
    background-color: var(--second-colour);
    font-family: 'Lato', sans-serif;
    color: var(--third-colour);
    font-size: 1em;
    cursor: pointer;
}

.add-btns {
    margin-left: 10px;
}

.add-btns > a {
    text-decoration: none;
    color: var(--third-colour);
}

h4.continents {
    color: var(--second-colour);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 5px 0 5px -18px;
}

/* Forms */
label {
    padding-right: 5px;
}

input, textarea, select {
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: var(--main-colour);
    font-size: 1em;
    padding: 1px 0 1px 3px;
    border: 1px solid var(--main-colour);
    margin-right: 5px;
}

textarea {
    min-height: 70px;
}

form > p {
    margin-left: 0;
}

.visit-forms > div, .auth-forms > div {
    margin-bottom: 10px;
}

.textareas {
    display: flex;
}

/* nav bar */
nav {
    color: var(--third-colour);
    background-color: var(--second-colour);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links, .nav-links:visited {
    color: var(--third-colour);
    text-decoration: none;
    font-weight: bold;
}

.nav-links:hover {
    text-shadow: 0.2px 0.2px;
}

/* Home page */
.sign-up-in-btns {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    min-width: 80px;
}

.sign-up-in-btns > a, .sign-up-in-btns > a:visited {
    color: var(--third-colour);
    text-decoration: none;
}

/* user show page */
.visit-btns {
    background-color: var(--main-colour);
    border-color: var(--third-colour);
    color: var(--third-colour);
    font-size: 0.9em;
    padding: 2.5px 5px;   
}

.visit-btns > a {
    text-decoration: none;
    color: var(--third-colour);
}

#edit-visit-btn {
    margin-left: 10px;
}

#del-visit {
    display: inline;
}

#add-visit {
    margin-top: 20px;
}

/* settings page */
#save-settings {
    margin-top: 20px;
}

/* community page */
#comm-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 500px;
    max-width: 500px;
}

.comm-countries > a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* media queries */
@media (max-width: 2400px) {
    #settings {
        max-width: 400px;
    }
}

@media (max-width: 1600px) {
    .main-div {
        max-width: 400px;
    }
}

@media (max-width: 1000px) {
    .main-div, #settings {
        max-width: 200px;
    }
    #comm-container {
        max-height: unset;
    }
}

@media (max-width: 400px) {
    nav {
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5px;
    }

    nav > p {
        margin: 5px;
    }
}