body {
    background: radial-gradient(#d9eef1, #71bdca);
    margin: 0;
}

#stats-div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#map-div {
    width: 99vw;
    background-color: #387ab5;
}

#map {
    background-color: #387ab5;
    padding: 5px 0 0 60px;  
}

path {
    fill: var(--third-colour);
    stroke: var(--main-colour);
    stroke-width: 0.1;
}

.visited {
    fill: #35a761;
}

#user-countries {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 800px;
}

#user-countries > li {
    font-weight: bold;
    padding-right: 50px;
}

li > a {
    font-weight: normal;    
}

#delete-form {
    margin-top: 5px;
    margin-left: 0;
} 

#del-country-btn {
    background-color: var(--main-colour);
    border-color: var(--third-colour);
    color: var(--third-colour);
    font-size: 0.9em;
    padding: 2.5px 5px;    
}

#user-search {
    margin-top: 10px;
}

@media (max-width: 1100px) {
    #user-countries {
        max-height: 1600px;
    }
}

@media (max-width: 600px) {
    #user-countries {
        max-height: unset;
    }
}